extends layout

block content
  div(align='center')
    h1= title.toUpperCase()
    p 
        | Welcome to #{title} page. Please, 
        a(href='/login') LogIn
        |  if you already have an account. 
    form(method='post')
        input(type='text' name='name' placeholder='Name')
        br
        input(type='text' name='login' placeholder='Login')
        br
        input(type='password' name='pass' placeholder='Pass')
        br
        input(type='submit' class='button' value='Create user')
    include messages

